@import 'styles/variables';

.rcm {
  background: $blue-6;
  .mainSectionWrap {
    .breadcrumb {
      color: $white-1;
    }
    .breadcrumbLast {
      color: $gray-7;
    }
    .breadcrumbDivider {
      background: $green-1;
    }
    .mainSection {
      .info {
        .name {
          font-style: normal;
          font-weight: 700;
          font-size: 40px;
          line-height: 47px;
          font-family: 'Jura', sans-serif;
          max-width: 319px;
        }
        p {
          max-width: 294px;
          color: $white-1;
          font-weight: 400;
          font-size: 16px;
          line-height: 20px;
        }

        .contactButton {
          background-color: $white-1;
          color: $black-3;
          margin-bottom: 0;
        }
      }
    }
  }
  .customerSection {
    background-color: $blue-6;
    .aboutCustomer {
      h2 {
        font-weight: 700;
        font-size: 25px;
        line-height: 30px;
        margin-bottom: 60px;
      }
      p {
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 20px;
      }
      .infoBlocks { display: none; }
    }
  }

  .mondiInfo {
    display: flex;
    margin: 0 auto;
    padding: 90px 15px 0 15px;
    max-width: 1384px;
    justify-content: flex-start;
    align-items: center;
    p {
      max-width: 800px;
      margin-left: 50px;
      font-size: 18px;
      line-height: 22px;
    }
  }
}

@include betweenWidth($mobileMd, $desktopS) {
  .rcm {
    .mainSectionWrap {
      padding-left: 30px;
      margin-top: 55px;

      .breadcrumbsWrapper {
        padding-left: 10px;
      }

      .mainSection {
        .info {
          margin-top: 55px;

          p {
            margin-top: 20px;
          }

          .contactButton {
            margin-top: 30px;
            width: 270px;
          }
        }

        .previewMobile {
          display: flex;
          justify-content: center;
          margin-left: 10%;
          margin-top: 36px;
        }

        .preview {
          display: none;
        }
      }
    }

    .customerSection {
      padding: 51px 30px 50px 30px;

      .aboutCustomer {
        .title {
          display: flex;
          gap: 17px;
          align-items: center;

          h2 {
            font-size: 16px;
            line-height: 20px;
          }

          .customerIcon {
            display: none;
          }
        }

        .infoBlock {

          display: none;
        }
        .infoBlocks {
          display: flex;
          height: 500px;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;

          *:nth-child(2) {
            bottom: 20px;
          }
        }
      }
    }

    .details {
      padding: 51px 30px 50px 30px;
      background-color: $blue-6;

      h2 {
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        margin: 20px 0;
      }

      p {
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: $black-6;
      }

      .gearsBlock {
        display: none;
      }

      .gearsBlock2 {
        display: flex;
        flex-direction: column;
        margin: 30px 0 10px 0;

        p {
          font-size: 16px;
          line-height: 20px;
          max-width: 206px;
          margin-left: 23px;
        }
        .gearInfo {
          display: flex;
          margin-top: 30px;
        }
      }
    }

    .mondiInfo {
      display: flex;
      padding: 51px 30px 50px 30px;
      flex-direction: column;
      align-items: flex-start;
      .mondiLogo {
        width: 150px;
      }
      p {
        margin-top: 30px;
        margin-left: 0;
        font-size: 18px;
        line-height: 22px;
      }
    }
  }
}

@include minWidth($desktopS) {
  .background {
    position: fixed;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    z-index: -1;
  }
  .mainSectionWrap {
    max-width: $desktopMaxWidth;
    margin: 72px auto 0 auto;

    .mainSection {
      margin-top: 20px;
      padding: 0 15px;
      display: flex;
      justify-content: space-between;

      .info {
        align-self: center;
        .rcmLogoMob {
          display: none;
        }

        p {
          margin-top: 30px;
        }

        .contactButton {
          margin-top: 40px;
        }
      }

      .preview {
        margin-bottom: -4px;
      }

      .previewMobile {
        display: none;
      }
    }
  }

  .customerSection {
    padding-bottom: 122px;
    .aboutCustomer {
      margin: 0 auto;
      padding: 90px 15px 0 15px;
      max-width: $desktopMaxWidth;
      display: flex;
      flex-direction: column;

      h2 {
        font-weight: 700;
        font-size: 25px;
        line-height: 30px;
        margin-bottom: 60px;
      }
      p {
        margin-bottom: 20px;
      }
      .infoBlock {
        display: flex;
        margin-top: 20px;
      }

      .customerIcon {
        margin-top: 29px;
      }
    }
  }
  .details {
    margin: 0 auto;
    padding: 90px 15px 0 15px;
    max-width: 1398px;
    h2 {
      font-weight: 700;
      font-size: 25px;
      line-height: 30px;
      margin-bottom: 60px;
    }

    p {
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      color: $black-6;

    }

    .gearsBlock {
      display: flex;
      margin: auto;
      margin-top: 70px;
      justify-content: center;
      flex-wrap: wrap;
      max-width: 1000px;
      p {
        margin-top: 0;
      }
      > *:nth-child(3) {
        margin-top: 80px;
      }
      > *:nth-child(4) {
        margin-top: 26px;
        margin-left: -200px;
      }
    }
    .gearsBlock2 {
      display: none;
    }
  }
}
