@import '../../../styles/variables';
@import '../../../styles/mixins';

.modalContent {
  margin-bottom: 50px;
  padding: 50px 115px;

  display: flex;
  flex-direction: column;
  align-items: center;

  > h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    color: $black-2;
    text-align: center;
    margin-bottom: 20px;
  }

  > p {
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: $gray-1;
    margin-bottom: 50px;
  }

  > *:last-child {
    align-items: center;
  }
}

.wrapper {
  @include centeredHorizontal;
  @include maxWidth1920;

  overflow: hidden;
  .imgWrapper1 {
    position: absolute;
    left: 500px;
    top: -60px;
  }

  .imgWrapper2 {
    position: absolute;
    left: 380px;
    top: 186px;
  }

  > .mainContent {
    display: grid;
    grid-template-columns: 1.4fr 1fr;

    max-width: calc(1338px + 2 * 30px);

    @include centeredHorizontal;

    padding: 139px 30px 0 30px;
    position: relative;

    .leftSide {
      > .text {
        display: flex;
        flex-direction: column;
        white-space: pre-line;

        h2 {
          color: $black-2;
          font-size: 35px;
          line-height: 43px;
          margin-bottom: 40px;
          font-family: 'Montserrat', sans-serif;
          font-weight: bold;
        }

        p {
          color: $black-1;
          font-size: 15px;
          line-height: 18px;
          margin-bottom: 60px;
        }
      }

      aside {
        .line {
          border-top: 1px solid $gray-2;
          max-width: 462px;
          margin-bottom: 20px;
        }

        p {
          font-size: 15px;
          line-height: 18px;
          color: $gray-1;
          min-width: 385px;
          max-width: 457px;
          max-height: 41px;
          white-space: pre-line;
        }
      }
    }

    .imgPhoneWrapper {
      max-width: 700px !important;
      max-height: 700px !important;

      position: relative;
      user-select: none;

      > img {
        position: absolute;
        max-width: 840px;
        object-fit: contain;
        top: -140px !important;
      }
    }
  }

  .information {
    display: flex;
    justify-content: space-between;

    max-width: 1435px;

    @include centeredHorizontal;
    padding: 50px 30px 0;

    .contacts {
      display: flex;
      justify-content: space-between;
      min-width: 241px;
      margin-right: 20px;
      margin-bottom: 30px;
      z-index: 2;

      @include betweenWidth(769px, 1200px) {
        flex-direction: column;
        height: 130px;
        align-items: flex-start;
      }

      .item {
        display: flex;

        > *:first-child {
          width: 50px !important;
          height: 50px !important;
        }

        .contactInfo {
          margin-left: 20px;
          font-weight: bold;

          h3 {
            font-size: 15px;
            line-height: 18px;
            color: $gray-2;
            margin-bottom: 7px;
          }

          a {
            font-size: 18px;
            line-height: 22px;
            color: $black-3;
            font-family: 'Montserrat', sans-serif;

            white-space: nowrap;
          }
        }
      }
    }

    .business {
      display: flex;
      justify-content: space-between;
      @include maxWidth(980px) {
        display: none;
      }
      > *:not(:last-child) {
        margin-right: 77px;
      }

      .item {
        font-size: 16px;
        line-height: 20px;
        text-transform: uppercase;

        z-index: 2;

        color: $gray-1;
        white-space: pre-line;
      }
      .item:nth-child(2) {
        width: 260px;
      }
    }
  }
}

@media screen and (max-width: 1338px) {
  .wrapper {
    .mainContent {
      grid-template-columns: 2fr 3fr;
    }
  }
}

@media screen and (max-width: 768px) {
  .modalContent {
    padding: 0 24px 0 25px;
    > h2 {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 10px;
      margin-top: 18px;
    }

    > p {
      margin-bottom: 30px;
    }
  }

  .wrapper {
    .imgWrapper1 {
      left: 170px;
      top: 300px;
      box-shadow: 0 0 100px 100px #e754ff !important;
    }

    .imgWrapper2 {
      left: 120px;
      top: 400px;
      box-shadow: 0 0 100px 100px #00ffff !important;
    }

    .mainContent {
      display: grid;
      grid-template-columns: auto;
      padding: 0 24px 0 25px;

      .imgPhoneWrapper {
        height: calc(100vw - 2 * 30px);

        > img {
          height: calc(100vw - 2 * 30px);
          top: 0 !important;
        }
      }

      > *:last-child {
        grid-row: 1;
      }

      .leftSide {
        .text {
          h2 {
            font-size: 16px;
            line-height: 20px;
            font-family: 'Montserrat', sans-serif;
            margin-bottom: 20px;
          }

          p {
            margin-bottom: 30px;
          }

          .button {
            margin-bottom: 50px;
          }
        }

        aside {
          .line {
            max-width: calc(768px - 24px - 25px);
            margin-bottom: 20px;
          }

          p {
            max-width: calc(768px - 24px - 25px);
          }
        }
      }
    }

    .information {
      padding: 50px 25px 0 24px;
      display: block;

      .contacts {
        flex-wrap: wrap;
        margin: 0;
        max-width: 600px;

        > *:first-child {
          margin-right: 30px;
          margin-bottom: 30px;
        }

        > *:last-child {
          margin-right: 0;
          margin-bottom: 30px;
        }
      }

      .business {
        display: none;
      }
    }
  }
}
