@import "styles/variables";

.vacancy{
  margin: 90px auto 0 auto;
  padding: 0 25px;
  max-width: $desktopMaxWidth;
  h1{
    margin-top: 40px;
    font-weight: 700;
    font-size: 35px;
    line-height: 43px;
    color: $black-2;
  }
  .items{
    height: 100%;
    overflow: hidden;
    margin-top: 35px;
  }

  .items.animate{
    transition: ease-in-out 0.2s;
  }

  .showMore{
    background: transparent;
    border: none;
    text-transform: uppercase;
    margin-top: 60px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: $blue-2;
    opacity: 1;
    transition: ease-in-out 0.2s;
    &:hover{
      cursor: pointer;
    }
  }

  .showMore.hidden{
    opacity: 0;
    pointer-events: none;

    &:hover{
      cursor: default;
    }
  }
}

@include betweenWidth($mobileMd, $tablet){
  .vacancy{
    h1{
      font-size: 16px;
      line-height: 20px;
    }
    .items{
      margin-top: 30px;
    }
    .showMore{
      margin-top: 50px;
    }
  }
}
