@import '../../styles/variables';

.textArea {
  max-width: 465px;
  height: 100px;
  width: 100%;
  background: $blue-3;
  border-radius: 20px;
  margin-bottom: 30px;
  border: none;
  padding: 23px 35px;
  color: $black-2;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  resize: none;

  &::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: $gray-1;
  }

  &:focus {
    border: none;
    outline: none;
  }

  &.error {
    border: red;
  }
}
