@import '../../styles/variables';

.modalWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;

  .background {
    width: 100%;
    height: 100%;
    position: absolute;

    background: url('/assets/modalBackground.webp');
    background-size: cover;

    > span,
    > span > span,
    > span > span > img {
      width: 100% !important;
      height: 100% !important;
    }
  }

  .modal {
    position: relative;
    width: 756px;
    height: 683px;

    background: white;
    z-index: 10;

    border-radius: 7px;
    padding: 30px;

    display: flex;
    flex-direction: column;

    .closeModalIcon {
      align-self: flex-end;
      cursor: pointer;
      width: 16px;
      height: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

@include betweenWidth($mobileMd, $tablet){
  .modalWrapper {
    .modal {
      width: 100%;
      height: 100%;
      padding: 32px 0 0 0;
      border-radius: 0;
      .closeModalIcon {
        margin: 25px;
        width: 31px;
        height: 31px;
      }
    }
  }
}
