@import '../../styles/variables';

.defaultButton {
  width: 221px;
  height: 53px;
  background: $blue-2;
  border-radius: 7px;
  border: none;
  font-size: 14px;
  line-height: 17px;
  font-weight: 600;
  text-transform: uppercase;
  transition: ease-in-out 0.2s;
  color: white;

  margin-bottom: 208px;
  &:hover {
    cursor: pointer;
    transform: scale(1.05);
  }
  &:active{
    transform: scale(0.95);
  }
}
