@import 'styles/variables';

@keyframes entryAnimation {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes endingAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.animationStart {
  animation: entryAnimation 0.3s ease-in-out;
  opacity: 0;
}

.animationEnd {
  opacity: 1;
  animation: endingAnimation 0.3s ease-in-out;
}

.slide {
  display: flex;
  border: none;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  @include maxWidth($desktopS) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 271px;
    height: 300px;
    justify-content: space-around;
    margin-top: -10px;
  }
  @include minWidth($desktopS) {
    padding: 20px;
  }
  @include minWidth($desktopLg) {
    padding: 0;
  }
  .title {
    margin: 150px 120px 122px 120px;
    height: 110px;
    @include maxWidth($desktopS) {
      margin: 0;
    }
    @include minWidth($desktopS) {
      height: 150px;
      margin-top: 190px;
      margin-left: 30px;
      margin-right: 30px;
    }

    p {
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      max-width: 360px;
    }
  }

  .imgDesktop {
    display: none;
    @include minWidth($desktopS) {
      display: flex;
      margin-top: 100px;
    }
  }

  .imgMobile {
    display: none;

    .fullScreenlogo {
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
    }

    @include maxWidth($desktopS) {
      position: relative;
      display: flex;
      margin: 10px 0 60px;
    }
  }
}

.sliderDesktop {
  display: none;
}

@include minWidth($desktopS) {
  .sliderDesktop {
    background: linear-gradient(0deg, #f8f9ff, #f8f9ff), #0062ff;
    height: 666px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 30px;

    .arrow1 {
      margin-right: auto;
      cursor: pointer;
    }

    .arrow2 {
      margin-left: auto;
      cursor: pointer;
    }

    h2 {
      margin-top: 130px;
      position: absolute;
      font-weight: 700;
      font-size: 25px;
      line-height: 30px;

      @include minWidth($desktopS) {
        margin-left: 50px;
      }
      @include minWidth($desktopLg) {
        margin-left: 30px;
      }
    }

    .stepper {
      width: 200px;
      height: 20px;
      position: absolute;
      margin-top: 390px;
      margin-left: 50px;

      .step {
        height: 15px;
        width: 15px;
        margin-right: 15px;
        border-radius: 100%;
        cursor: pointer;
        border: none;
        background-color: #e0e0e0;
        transition: 0.2s ease-in-out;

        &.active {
          background-color: #3b53d9;
        }
      }
    }
  }
}

.sliderMobile {
  display: none;
}
@include maxWidth($desktopS) {
  .sliderMobile {
    display: flex;
    height: 515px;
    background: linear-gradient(0deg, #f8f9ff, #f8f9ff), #0062ff;
    padding: 30px 25px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    .slideText {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      h2 {
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        margin: 10px 0 30px;
      }
    }
    .navigation {
      display: flex;
      align-items: center;
      justify-content: space-between;

      margin-bottom: 60px;
      width: 100%;
      .arrow1 {
        cursor: pointer;
      }

      .arrow2 {
        cursor: pointer;
      }

      .stepper {
        .step {
          height: 15px;
          width: 15px;
          margin-right: 15px;
          border-radius: 100%;
          cursor: pointer;
          border: none;
          background-color: #e0e0e0;
          transition: 0.2s ease-in-out;

          &.active {
            background-color: #3b53d9;
          }
        }
      }
    }
  }
}
