@import '../../styles/variables';

.content{
  .info{
    margin-left: 20px;
    h3{
      color: $gray-1;
      font-weight: 400;
      font-size: 15px;
      line-height: 18px;
      margin-bottom: 7px;
    }
    .data{
      color: $black-3;
      font-weight: 700;
      font-size: 18px;
      line-height: 22px;
    }
  }
}

@include betweenWidth($mobileMd, $desktopS){
  .content{
    display: flex;
    .data{
      max-width: 240px;
    }
  }
}

@include minWidth($desktopS){
  .content{
    display: grid;
    grid-template-columns: 1fr 5fr;
    .info{
      min-width: 170px;
      max-width: 380px;
    }
  }
}
