@import '../../styles/variables';
@import '../../styles/variables';
@import '../../styles/mixins';

.modalContent {
  margin-bottom: 50px;
  padding: 50px 115px;

  display: flex;
  flex-direction: column;
  align-items: center;

  > h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    color: $black-2;
    text-align: center;
    margin-bottom: 20px;
  }

  > p {
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: $gray-1;
    margin-bottom: 50px;
  }

  > *:last-child {
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .modal {
    padding: 0;
  }
}

.wrapper {
  @include centeredHorizontal;
  @include maxWidth1920;
  position: relative;
  overflow: hidden;

  .imgWrapper1 {
    position: absolute;
    left: 30px;
    top: 0;
  }

  .imgWrapper2 {

    position: absolute;
    left: 1100px;
    top: 456px;
    opacity: 0.1;
  }

  .text {
    max-width: calc(1338px + 2 * 30px);

    @include centeredHorizontal;
    padding: calc(164px - 30px) 30px 100px;
    font-family: 'Montserrat', sans-serif;
    font-size: 52px;
    line-height: 63px;
    font-weight: bold;
    z-index: 2;
    position: relative;

    .text1 {
      color: $blue-2;
    }

    .text2 {
      background-image: $gradient-2;

      -webkit-background-clip: text;
      -webkit-box-decoration-break: clone;
      -webkit-text-fill-color: transparent;

      > *:nth-child(2) {
        white-space: nowrap;
      }
    }
  }

  .information {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    max-width: calc(1338px + 2 * 30px);

    @include centeredHorizontal;
    padding: 0 30px 127px;
    row-gap: 50px;

    .verticalLine {
      border-left: 1px solid $gray-2;
      width: 0;
      height: calc(100% + 19px);

      margin: 0 auto;
    }

    .horizontalLine {
      border-bottom: 1px solid $gray-2;
      width: 100%;
      height: 0;
      margin: auto 0;
    }

    .lineColumn {
      display: none;
    }
  }
}

@media screen and (max-width: 1180px) {
  .wrapper {
    .information {
      .verticalLine {
        border-left: none;
      }
    }
  }
}

@media screen and (max-width: 1135px) {
  .wrapper {
    .information {
      grid-template-columns: 1fr;

      .verticalLine,
      .horizontalLine,
      .emptyBlock {
        display: none;
      }

      .lineColumn {
        border-bottom: 1px solid $gray-2;
        width: 100%;
        height: 0;
        margin: auto 0;
        display: block;
      }
    }
  }
}

@media screen and (max-width: $tablet) {
  .wrapper {
    .imgWrapper1 {
      display: block;
      position: absolute;
      left: 30px;
      top: 45px;
      box-shadow: 0 0 100px 100px #9EACF1!important;
    }

    .imgWrapper2 {
      display: block;
      position: absolute;
      left: 120px;
      top: 470px;
      box-shadow: 0 0 100px 100px #9753DD!important;
    }

    .text {
      padding: 90px 24px 110px 25px;
      font-family: 'Montserrat', sans-serif;
      font-size: 23px;
      line-height: 28px;
    }

    .information {
      padding: 0 25px 100px 24px;
      row-gap: 25px;

      .lineColumn {
        margin: 15px 0;
      }
    }
  }

  .modalContent {
    padding: 0 24px 0 25px;
    > h2 {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 10px;
      margin-top: 18px;
    }

    > p {
      margin-bottom: 30px;
    }
  }
}
