@import 'styles/variables';

.mk {
  background: #5685ff;
  .mainSectionWrap {
    .breadcrumb {
      color: $white-1;
    }
    .breadcrumbLast {
      color: $gray-7;
    }
    .breadcrumbDivider {
      background: $green-1;
    }
    .mainSection {
      .info {
        .title {
          display: flex;
          .name {
            font-style: normal;
            font-weight: 700;
            font-size: 30px;
            line-height: 47px;
            font-family: 'Roboto', sans-serif;
            max-width: 319px;
          }
          p {
            max-width: 294px;
            color: $white-1;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
          }
        }
        p {
          color: #ffffff;
          font-family: 'Roboto', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 19px;
        }
        .contactButton {
          background-color: $white-1;
          color: $black-3;
          margin-bottom: 0;
        }
      }
    }
    .infoBlocks {
      h3 {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        color: white;
      }
      p {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        color: white;
      }
    }
    .structure {
      h1 {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        color: white;
      }
      h3 {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        color: white;
      }
      p {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        color: white;
      }
    }

  }
}

@include betweenWidth($mobileMd, $desktopS) {
  .mk {
    .logobackD {
      display: none;
    }
    .blueBean {
      display: none;
    }

    .mainSectionWrap {
      margin-top: 55px;
      .iphoneBlock {
        position: relative;
        margin-bottom: 470px;
        .iphone {
          top: 120px;
          position: absolute;
          left: 50%;
          margin-right: -50%;
          transform: translate(-50%, -50%);
        }
      }
      .breadcrumbsWrapper {
        padding-left: 25px;
      }

      .mainSection {
        background-image: url('/assets/project/pirs/moy-kray/logoBackMob.svg');
        .blueBlock {
          position: relative;
          overflow: hidden;
          top: 20px;
          .blue1 {
            position: relative;
            width: 96px;
            height: 85px;
            left: 250px;
          }
        }

        .info {
          padding-left: 25px;
          margin-bottom: 30px;
          p {
            max-width: 260px;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            margin-top: 20px;
          }
          .title {
            margin-bottom: 13px;
            width: 164px;
            height: 30px;
          }
          .contactButton {
            margin-top: 30px;
            width: 270px;
          }
        }
        .humanBlock {
          height: 680px;
          overflow: hidden;
          padding-left: 25px;
          position: relative;

          .appStore {
            position: relative;
            top: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: black;
            width: 136px;
            height: 46px;
            border-radius: 7px;
            border: 2px solid #a6a6a6;
            margin-bottom: 20px;
            z-index: 4;
          }

          .googlePlay {
            position: relative;
            top: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: black;
            width: 153px;
            height: 46px;
            border-radius: 7px;
            border: 2px solid #a6a6a6;
            z-index: 4;
          }
          .monument {
            position: absolute;
            width: 125px;
            height: 141px;
            z-index: 2;
            right: -20px;
            top: 0;
          }
          .manyBeans {
            display: none;
          }
          .leaf5 {
            display: none;
          }

          .human {
            position: absolute;
            width: 347px;
            height: 330px;
            right: -60px;
            top: 100px;
            z-index: 0;
          }
          .humanD {
            display: none;
          }
          .lev {
            position: absolute;
            top: 320px;
            right: 180px;
            width: 162px;
            height: 139px;
          }
          .levD {
            display: none;
          }
          .lightBean {
            display: none;
          }
          .leaf4 {
            display: none;
          }
        }
      }
      .iphone {
        top: 120px;
        position: absolute;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
      }
      .infoBlocks {
        padding: 0 25px;
        position: relative;
        h3 {
          font-weight: 700;
          font-size: 20px;
          line-height: 23px;
          margin-bottom: 10px;
        }
        p {
          font-weight: 400;
          font-size: 16px;
          line-height: 19px;
          margin-bottom: 50px;
        }
        .infoBlock1 {
          position: relative;
          .dottedLine1 {
            position: absolute;
            width: 34px;
            height: 39px;
            left: -20px;
            top: -25px;
          }
          .leaf1 {
            position: absolute;
            bottom: -30px;
            left: 60px;
          }
        }
        .iphoneDBlock {
          display: none;
        }
        .infoBlock2 {
          position: relative;

          .dottedLine2 {
            position: absolute;
            width: 50px;
            height: 70px;
            left: 180px;
            top: -45px;
          }
        }
        .infoBlock3 {
          position: relative;

          .dottedLine3 {
            position: absolute;
            left: -25px;
            top: -40px;
          }

          .bee {
            position: absolute;
            left: 240px;
            top: -30px;
          }

          .leaf2 {
            position: absolute;
            left: -25px;
            bottom: -50px;
          }
        }
        .infoBlock4 {
          position: relative;

          .dottedLine4 {
            left: 150px;
            position: absolute;
          }

          .leaf3 {
            position: absolute;
            bottom: -90px;
            left: 180px;
          }
        }
      }
      .infoBlocksD {
        display: none;
      }
    }
    .structureD {
      display: none;
    }
    .structure {
      padding: 0 20px;
      position: relative;
      overflow: hidden;
      height: 2800px;
      display: flex;
      flex-direction: column;
      align-items: center;

      h1 {
        margin-top: 100px;
        font-weight: 700;
        font-size: 30px;
        line-height: 35px;
        text-align: center;
      }
      h3 {
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
      }
      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        margin-top: 10px;
        width: 270px;
      }
      .greenCircle {
        margin-top: 15px;
        border-radius: 100%;
        margin-right: 5px;
        width: 8px;
        height: 8px;
        background-color: #95ecb4;
      }
      .dottedLineLong {
        position: absolute;
        bottom: -650px;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        z-index: 0;
      }
      .church {
        position: absolute;
        top: 220px;
        margin-right: 160px;
        z-index: 10;
      }
      .groupLine1 {
        position: absolute;
        bottom: 120px;
        margin-left: 220px;
      }
      .bee {
        position: absolute;
        bottom: -60px;
        left: -20px;
      }
      .museum {
        position: absolute;
        top: 210px;
        left: 140px;
      }
      .humanMK {
        margin-top: 40px;
        position: absolute;
      }
      .bee2 {
        position: absolute;
        transform: scale(-1, 1);
        top: 110px;
        margin-left: 190px;
      }
      .fountain {
        position: absolute;
        bottom: 200px;
        margin-left: -40px;
      }
      .leaf1 {
        position: absolute;
        top: 60px;
        margin-left: 250px;
      }
      .slideBack {
        position: absolute;
        top: 270px;
        right: -50px;
      }
    }
    .backgroundContacts {
      position: relative;
      margin-top: -120px;
      overflow: hidden;
      height: 1100px;
      margin-bottom: 100px;

      .backgroundImg {
        position: absolute;
        left: -80px;
        top: 40px;
      }
    }
  }
}

@include minWidth($desktopS) {
  .mk {
    position: relative;
    overflow: hidden;

    .logobackD {
      position: absolute;
      margin-left: 350px;
      top: -70px;
      opacity: 0.5;
    }
    .headerBlock {
      position: relative;
      overflow: hidden;
      height: 70px;

      *:first-child {
        z-index: 10;
      }
      .blueBean {
        position: absolute;
        left: 100px;
        top: 0;
      }
    }
    .headerLine {
      width: 100%;
      max-width: $desktopLg;
      margin: 0 auto 0 auto;
      background: #ffffff;
      opacity: 0.17;
      border-top: 1px solid #ffffff;
      display: flex;
    }
    .mainSectionWrap {
      max-width: $desktopMaxWidth;
      position: relative;
      margin: 72px auto 0 auto;

      .breadcrumbsWrapper {
        z-index: 14;
      }
      .iphoneBlock {
        display: none;
        .iphone {
          top: 0;
          position: absolute;
          left: 50%;
          margin-right: -50%;
          transform: translate(-50%, -50%);
        }
      }
      .mainSection {
        margin-top: 39px;
        display: flex;
        align-content: center;

        .blue1 {
          position: absolute;
          left: 50%;
          top: 60px;
          z-index: 4;
        }

        .humanBlock {
          overflow: hidden;
          min-width: 1205px;
          min-height: 945px;
          margin-left: 20px;

          .appStore {
            position: absolute;
            top: 350px;
            margin-left: 220px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: black;
            width: 136px;
            height: 46px;
            border-radius: 7px;
            border: 2px solid #a6a6a6;
            margin-bottom: 20px;
            z-index: 6;
          }
          .googlePlay {
            position: absolute;
            top: 410px;
            display: flex;
            margin-left: 220px;
            align-items: center;
            justify-content: center;
            background-color: black;
            width: 153px;
            height: 46px;
            border-radius: 7px;
            border: 2px solid #a6a6a6;
            z-index: 6;
          }

          .monument {
            position: absolute;
            margin-left: 700px;
            width: 362px;
            height: 412px;
            top: 120px;
            z-index: 2;
          }
          .manyBeans {
            position: absolute;
            margin-left: 1050px;
            top: 120px;
          }
          .leaf5 {
            position: absolute;
            margin-left: -480px;
            top: 120px;
            width: 58px;
            height: 40px;
          }
          .human {
            display: none;
          }
          .humanD {
            position: absolute;
            top: 180px;
            margin-left: 100px;
            z-index: 5;
          }
          .lev {
            display: none;
          }
          .levD {
            position: absolute;
            margin-left: 20px;
            width: 261px;
            height: 287px;
            top: 580px;
            z-index: 6;
          }
          .lightBean {
            position: absolute;
            top: 480px;
            margin-left: -500px;
          }
          .leaf4 {
            position: absolute;
            top: 520px;
            margin-left: 1050px;
          }
        }
        .info {
          z-index: 5;
          .title {
            margin: 133px 0 20px;
          }

          *:nth-child(2) {
            z-index: 5;
          }
          p {
            margin-bottom: 40px;
            width: 290px;
          }
        }
      }
      .infoBlocks {
        display: none;
      }

      .infoBlocksD {
        padding: 0 10px 0 25px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 520px;
        margin-bottom: 250px;
        margin-right: 0;
        h3 {
          font-family: 'Roboto', sans-serif;
          font-style: normal;
          font-weight: 700;
          font-size: 25px;
          line-height: 29px;
          color: #ffffff;
          margin-bottom: 10px;
        }
        p {
          font-family: 'Roboto', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 21px;
          color: #ffffff;
          max-width: 368px;
        }
        .infoBlocks1 {
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          .infoBlock1 {
            position: relative;
            min-width: 200px;
            max-width: 368px;
            margin-right: 540px;
            .leaf1 {
              position: absolute;
              top: -30px;
              left: -200px;
              transform: scale(-1, 1);
            }
          }
          .infoBlock3 {
            max-width: 388px;
            position: relative;
            min-width: 210px;
            padding-left: 20px;

            .bee {
              position: absolute;
              right: 10px;
              bottom: -10px;
            }
          }
        }
        .iphoneDBlock {
          position: absolute;
          top: 400px;
          left: 50%;
          margin-right: -50%;
          transform: translate(-50%, -50%);
          .iphoneD {
          }
        }
        .infoBlocks2 {
          position: relative;
          display: flex;
          top: 15px;
          flex-direction: row;
          justify-content: space-between;

          .infoBlock2 {
            max-width: 400px;
            min-width: 200px;
            position: relative;
            margin-right: 540px;
            .bee {
              width: 21px;
              position: absolute;
              top: -40px;
              right: 10px;
            }
          }

          .infoBlock4 {
            position: relative;
            max-width: 388px;
            min-width: 200px;
            padding-left: 20px;

            .leaf3 {
              position: absolute;
              bottom: -150px;
              left: 200px;
            }
          }
        }
      }
      .structure {
        display: none;
      }
    }
    .structureD {
      position: relative;
      top: 600px;
      height: 1115px;
      min-width: 1024px;
      max-width: 1800px;
      left: 50%;
      margin-right: -50%;
      margin-bottom: 100px;
      transform: translate(-50%, -50%);
      h1 {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 35px;
        text-align: center;
        color: #ffffff;
      }
      h3 {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 29px;
        color: #ffffff;
        margin-bottom: 10px;
      }
      .greenCircle {
        margin-top: 15px;
        border-radius: 100%;
        margin-right: 5px;
        width: 8px;
        height: 8px;
        background-color: #95ecb4;
      }
      p {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: #ffffff;
      }
      .church {
        position: absolute;
        width: 230px;
        height: 193px;
        top: 260px;
        left: 60px;
      }
      .lineStructureBack {
        position: absolute;
        top: 150px;
        margin-left: 160px;
      }
      .structure1 {
        position: absolute;
        top: 180px;
        left: 300px;
        min-width: 220px;
        max-width: 368px;
      }
      .structure2 {
        position: absolute;
        top: 260px;
        right: 220px;
        min-width: 220px;
        max-width: 340px;
        @include maxWidth(1475px) {
            right: 230px;
          }
        @include maxWidth(1315px) {
          right: 280px;
        }
        @include maxWidth(1090px) {
          right: 250px;
        }
      }
      .museum {
        position: absolute;
        top: -80px;
        left: -220px;
        width: 230px;
        height: 201px;
        z-index: 2;
        @include maxWidth(1475px) {
          top: -100px;
      }

      }
      .structureBlock {
        position: relative;
        display: flex;
        top: 600px;
        justify-content: center;

        p {
          max-width: 368px;
        }
        .humanMK {
          width: 219px;
          height: 506px;
          margin-top: -300px;
          margin-right: 50px;
        }
      }
      .structureBlock2 {
        position: relative;
        display: flex;
        margin-top: 650px;
        max-width: 1300px;
        min-width: 1024px;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        .structure3 {
          position: absolute;
          margin: 30px 160px 0 50px;
          left: -100px;
          min-width: 220px;
          max-width: 368px;
          @include maxWidth(1475px) {
            left: -80px;
          }
          @include maxWidth(1380px) {
            margin-top: 60px;
            left: 40px;
          }
          @include maxWidth(1120px) {
            margin-top: 60px;
            left: 60px;
          }
          @include maxWidth(1090px) {
            left: 100px;
          }
          .fountain {
            width: 163px;
            position: absolute;
            margin: -130px 0 0 300px;
            @include maxWidth(1090px) {
              margin-left: 250px;
            }
          }
        }
        .structure4 {
          position: absolute;
          top: 130px;
          max-width: 368px;
          right: 100px;
          .text {
            position: absolute;
            width: 368px;
            right: 20px;
            @include maxWidth(1440px) {
              top: 10px;
              right: 200px;
            }
          }
          .sliderBlock {
            position: relative;

            .slider{
              position: absolute;
              top: -410px;
              left: 20px;
              z-index: 4;
              @include maxWidth(1720px) {
                left: -80px;
              }
              @include maxWidth(1560px) {
                left: -150px;
              }
              @include maxWidth(1440px) {
                left: -280px;
              }@include maxWidth(1170px) {
                               top: -380px;
                 left: -370px;
               }
            }
            .slideBack {
              position: absolute;
              z-index: 2;
              top: -390px;
              right: -330px;
              @include maxWidth(1720px) {
                left: -150px;
              }
              @include maxWidth(1560px) {
                left: -220px;
              }
              @include maxWidth(1440px) {
                top: -380px;
                left: -350px;
              }@include maxWidth(1170px) {
                               top: -370px;
                 left: -440px;
               }

            }
          }
        }
      }
    }
    .backgroundContacts {
      position: relative;
      overflow: hidden;
      height: 735px;
      .backgroundImg {
        position: absolute;
        padding: -20px;
        width: 1764px;
        left: -100px;
        top: 200px;
      }
    }
  }
}
