@import '../../styles/variables';

.inputWrapper {
  position: relative;
  max-width: 465px;
  max-height: 65px;
  height: 65px;
  width: 465px;

  margin-bottom: 20px;

  .input {
    width: 100%;
    height: 100%;
    background: $blue-3;
    border-radius: 20px;
    border: none;
    padding-left: 35px;
    padding-right: 52px;
    color: $black-2;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 20px;

    &::placeholder {
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      font-size: 15px;
      line-height: 18px;
      color: $gray-1;
    }

    &:focus {
      border: none;
      outline: none;
    }

    &.error {
      border: 1px solid $red-1;
      color: $red-1;
      margin-bottom: 0;
      &::placeholder {
        color: $red-1;
      }
    }
  }

  .errorImage {
    height: 20px;
    position: absolute;
    top: calc(50% - 20px / 2);
    right: 18px;
  }

  > span {
    color: $red-1;
    font-size: 12px;
    line-height: 15px;
    height: 20px;
  }
}

@include betweenWidth($mobileMd, $tablet) {
  .inputWrapper {
    width: 100%;
  }
}
