@import '../../../../styles/variables';

.company {
  display: flex;
  align-items: flex-start;
  width: 560px;

  > *:first-child {
    min-width: 60px;
    min-height: 60px;
  }

  .companyInfo {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    height: 128px;
    margin-left: 20px;
    justify-content: space-between;
    h2 {
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      font-size: 25px;
      line-height: 30px;
      color: $black-2;

      margin-bottom: 10px;
    }

    > p {
      font-size: 15px;
      line-height: 18px;
      color: $black-3;
      white-space: pre-line;
      max-width: 420px;
      margin-bottom: 19px;
      font-weight: 400;
    }
  }
}

.header{
  >h2{
    display: none;
    font-weight: 700;
  }
}

.additionalInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      text-transform: uppercase;
      color: $blue-2;

      &:hover {
        cursor: pointer;
        background-image: $gradient-1;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-box-decoration-break: clone;
      }
}


@media screen and (max-width: 768px) {
  .company {
    flex-direction: column;
    width: 271px;

    .header{
      display: flex;
      align-items: center;

      >h2{
        display: block;
        margin-left: 17px;
      }
    }
    .companyInfo {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 30px 25px 25px 0;

      > h2 {
        display: none;
        font-size: 20px;
        line-height: 24px;
      }
    }
  }

  .additionalInfo {
    display: grid;
    grid-template-areas: 'stuff projects' 'button line';
    grid-template-columns: max-content 1fr;
    column-gap: 30px;
    row-gap: 35px;
    z-index: 2;
    justify-items: start;
    > button {
      grid-area: button;
    }

    .line {
      display: none;
    }

    > .stuff {
      grid-area: stuff;
      margin-right: 0;
      > p {
        font-size: 13px;
        line-height: 16px;
      }
    }

    > .projects {
      grid-area: projects;
      > p {
        font-size: 13px;
        line-height: 16px;
      }
    }
  }
}
