@import "styles/variables";



.breadcrumbWrapper{
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  gap: 13px;
  flex-wrap: wrap;

  .breadcrumb{
    color: $black-1;
  }

  .divider{
    height: 4px;
    width: 4px;
    background-color: $blue-2;
    border-radius: 100%;
  }

  .breadcrumb.last{
    color: $gray-1;
    &:hover{
      cursor: default;
    }
  }
}
