@import '../../styles/variables';

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .buttonSend {
    max-width: 465px;
    min-width: 271px;
    width: 100%;
    height: 65px;
    box-shadow: 0 17px 89px rgba(56, 81, 208, 0.29);
    border-radius: 20px;
    margin: 0;
  }

  .message {
    display: flex;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin: 0;

    &.centered {
      justify-content: center;
    }

    > p {
      font-size: 14px;
      line-height: 17px;
      color: $gray-1;
      margin-bottom: 10px;
    }

    span {
      color: $red-1;
      font-size: 12px;
      line-height: 15px;
    }
  }
}
