@import '../../styles/variables';
@import '../../styles/mixins';

@mixin activeRoute {
  color: white;
  > a:after {
    content: ' ';
    width: 11px;
    height: 3px;
    bottom: -5px;
    background-color: white;
    position: absolute;
    border-radius: 32px;
    left: calc(50% - 11px / 2);
  }
}

.wrapper {
  width: 100%;
  height: 100%;
  top: -100%;
  position: fixed;
  z-index: 9;
  padding: 20px 28px 30px 25px;
  background: $gradient-1;

  animation: toBottom 500ms ease-in-out forwards;

  &.closing {
    animation: toTop 500ms ease-in-out forwards;
  }

  .head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 68px;
  }

  .btnMenu {
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mainContent {
    display: flex;
    flex-direction: column;
    align-items: center;

    > *:not(:last-child) {
      margin-bottom: 32px;
    }

    .item {
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      font-size: 14px;
      line-height: 17px;

      color: $gray-4;
      cursor: pointer;

      > a {
        position: relative;
        margin-bottom: 5px;
      }

      &:hover {
        @include activeRoute()
      }
    }
    .item.current{
      @include activeRoute()
    }
  }

  .contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 112px;
    flex-wrap: wrap;

    > *:first-child {
      margin-bottom: 20px;
    }

    .item {
      h3 {
        font-size: 14px;
        line-height: 17px;
        color: white;
        text-align: center;
        margin-bottom: 8px;
      }

      a {
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        line-height: 20px;
        color: white;
        white-space: nowrap;
        font-weight: bold;
      }
    }
  }
}

@keyframes toBottom {
  from {
    top: -100vh;
  }
  to {
    top: 0;
  }
}

@keyframes toTop {
  from {
    top: 0;
  }
  to {
    top: -100vh;
  }
}
