@import "../../styles/variables";

.about{

}

@include betweenWidth($mobileMd, $tablet){
  .aboutCompany{
    max-width: 271px;
    margin: 0 auto;
    .text{
      margin-bottom: 50px;
    }
    .collage{
      display: none;
    }
    .collageMob{
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin-top: 43px;
      margin-bottom: 50px;
    }
  }
}

@include minWidth($desktopS){
  .aboutCompany{
    padding: 0 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: -60px;
    .text{
      margin-top: 40px;
      margin-bottom: 60px;
      max-width: 1144px;
      p {
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
      }
    }
    .collageMob{
      display: none;
    }
    .collage{
      max-width: 1626px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 20px;
      margin-top: 60px;
      div{
        display: flex;
        flex-direction: column;
        gap: 20px;
        div{
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 20px;
        }
      }
    }
  }
}
