@import "styles/variables";

.blog{
  margin: 90px auto 0 auto;
  padding: 0 25px;
  max-width: $desktopMaxWidth;
  h1{
    margin-top: 40px;
    font-weight: 700;
    font-size: 35px;
    line-height: 43px;
    color: $black-2;
  }
  .news{
    margin-top: 70px;
    .item{
      margin-top: 40px;
      display: grid;
      grid-template-columns: 1fr 3fr;
      .thumbnailContainer{
        width: 268px;
        height: 130px;
        border-radius: 30px;
      }
      .content{
        h2{
          font-weight: 700;
          font-size: 25px;
          line-height: 30px;
          color: $black-2;
        }
        .date{
          margin-top: 10px;
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          color: $gray-1;
        }
        .description{
          margin-top: 15px;
          font-weight: 400;
          font-size: 15px;
          line-height: 18px;
        }
      }
    }
  }
  .showMoreWrapper{
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-top: 62px;
    .showMore{
      background: transparent;
      border: none;
      color: $blue-2;
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      text-transform: uppercase;
      width: 121px;
      &:hover{
        cursor: pointer;
      }
    }
  }
}

.singleBlog{
  margin: 90px auto 0 auto;
  padding: 0 25px;
  max-width: $desktopMaxWidth;
  position: relative;
  overflow-x: hidden;
  .hl1{
    position: absolute;
    left: 670px;
  }
  .hl2{
    position: absolute;
    left: 420px;
    top: 270px;
  }
  .title{
    display: flex;
    margin-top: 40px;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    h1{
      font-weight: 700;
      font-size: 35px;
      line-height: 43px;
      color: $black-2;
    }
  }

  .date{
    margin-top: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: $gray-1;
  }
  .imgContainer{
    margin-top: 40px;
  }

  .description{
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    max-width: 850px;
    img{
      width: 100%;
      height: auto;
    }
    p{
      margin-top: 50px;
    }
  }
}

@include betweenWidth($mobileMd, $tablet){
  .blog{
    margin-top: 50px;
    h1{
      font-size: 16px;
      line-height: 20px;
    }
    .news{
      margin-top: 30px;
      .item{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 38px;
        .content{
          h2{
            font-size: 18px;
            line-height: 22px;
          }
        }
      }
    }
    .showMoreWrapper{
      display: flex;
      flex-direction: row;
    }
  }

  .singleBlog{
    margin-top: 50px;
    .title{
      .backArrow{
        display: none;
      }
      h1{
        font-size: 16px;
        line-height: 20px;
      }
    }
  }
}

@include minWidth($desktopS){
  .singleBlog{
    .date{
      padding-left: 50px;
    }
    .description{
      padding-left: 50px;
    }
    .breadcrumbs{
      padding-left: 50px;
    }
  }
}
