@import '../../styles/variables';
@import '../../styles/mixins';

.wrapper {
  @include centeredHorizontal;
  @include maxWidth1920;
  margin-top: 120px;
  position: relative;

  .imgWrapper1 {
    position: absolute;
    left: 220px;
    top: 100px;
    z-index: 0;
    user-select: none;
  }
  .imgWrapper2 {
    position: absolute;
    left: 320px;
    top: -100px;
    z-index: 0;
    max-width: 100vw;
    user-select: none;
  }
  .content {
    .text{
      >h2{
        font-weight: 700;
        font-size: 28px;
        line-height: 34px;
      }
      >p{
        color: $gray-1;
      }
    }
    a{
      display: flex;
      height: 84px;
      justify-content: center;
      align-items: center;
      width: 100%;
      background: white;
      border-radius: 7px;
    }
  }
}

@include betweenWidth($mobileMd, $desktopS){
  .wrapper{
    margin-top: 150px;
    .imgWrapper1 {
      left: 0;

    }
    .imgWrapper2 {
      left: 0;
    }

    .content{
      padding: 0 25px;
      .text{
        >p{
          margin-top: 14px;
        }
        .maps{
          display: none;
        }
      }

      .contacts {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column-reverse;
          width: 100%;
          margin-top: 40px;

        .maps{
          display: flex;
          flex-direction: column;
          margin-top: 100px;
          justify-content: center;
          align-items: center;
          gap: 19px;
          min-width: 271px;
          max-width: 465px;
          width: 100%;
        }
      }
    }
    .form{
      width: 100%;
    }
  }
}

@include minWidth($desktopS){
  .content{
    max-width: $desktopMaxWidth;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 0 30px;

    .text{
      display: flex;
      flex-direction: column;
      max-width: 670px;
      h2{
        max-width: 380px;
        font-size: 35px;
        line-height: 43px;
      }
      p{
        margin-top: 30px;
        font-size: 15px;
        font-weight: 400;
        line-height: 18px;
      }

      .maps{
        display: flex;
        gap: 20px;
        margin-top: 50px;
        a{
          width: 174px;
          height: 50px;
        }
      }
    }

    .contacts{
      .maps{
        display: none;
      }
    }
  }
}




