@import '../../styles/variables';

.toast {
  display: flex;
  flex-direction: row;
  justify-content: center;

  div {
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */

    text-align: center;

    color: #4460F1;
  }
  svg {
    align-self: center;
    margin-right: 15px;
  }
}
