@import '../../styles/variables';
@import '../../styles/mixins';

.wrapper {
  background: $black-4;
  margin-top: 100px;
  > footer {
    .content {
      @include centeredHorizontal;
      @include maxWidth1920;
      height: 100%;
      background: $black-4;

      max-width: calc(1338px + 2 * 30px);
      padding: 30px 30px 46px;
      h2 {
        font-size: 14px;
        line-height: 14px;
        color: white;
        padding-bottom: 30px;
      }

      .mainPart {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        max-width: calc(1338px + 2 * 30px);

        @include centeredHorizontal;

        .info {
          display: flex;
          justify-content: space-between;
          margin-right: 20px;
          margin-bottom: 20px;
          .item {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;

            p {
              font-family: 'Montserrat', sans-serif;
              font-weight: bold;
              font-size: 11px;
              line-height: 13px;
              color: white;
              white-space: nowrap;
            }

            > *:last-child {
              margin-left:10px;
            }
          }

          > *:not(:last-child) {
            margin-right: 30px;
          }
        }

        .contact {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 20px;
          .item {
            a {
              font-size: 14px;
              line-height: 14px;

              color: $gray-1;
            }
          }

          > *:not(:last-child) {
            margin-right: 40px;
          }
        }
      }
    }

    .underfoot {
      font-size: 14px;
      line-height: 14px;
      color: white;
      height: 100%;
      background: $gray-3;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 8px 0;
    }
  }
}

@media screen and (max-width: 1100px) {
  .wrapper {
    footer {
      .content {
        .mainPart {
          .info {
            margin-right: 0;
          }
        }
      }
    }
  }
}

@include betweenWidth($mobileMd, $tablet){
  .wrapper {
    footer {
      .content {
        padding: 50px 24px 60px 25px;
        > h2 {
          font-size: 16px;
          line-height: 16px;
          display: flex;
          flex-wrap: wrap;

          > * {
            white-space: nowrap;
          }
        }
        .mainPart {
          display: grid;
          grid-template-columns: 1fr;
          .info {
            display: grid;
            row-gap: 32px;
            grid-template-columns: 1fr;

            .item {
              justify-content: flex-start;
            }
          }

          .contact {
            justify-content: flex-start;
            margin-top: 50px;
            margin-bottom: 0;
          }
        }
      }
      .underfoot {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        font-size: 16px;
        line-height: 16px;
        padding: 20px 24px 16px 25px;
        word-wrap: break-word;

      }
    }
  }
}
