@import '../../../styles/variables';
@import '../../../styles/mixins';

.wrapper {
  @include centeredHorizontal;
  @include maxWidth1920;

  .content {
    margin: 0 291px;
    position: relative;
    max-width: calc(1338px + 2 * 30px);

    @include centeredHorizontal;
    padding: 100px 30px 0;
    .imgWrapper {
      position: absolute;
      left: -170px;
      top: 350px;
    }

    > h2 {
      font-size: 30px;
      line-height: 37px;
      color: $black-2;
      margin-bottom: 50px;
    }

    .horizontalLine {
      border-bottom: 1px solid $gray-2;
      width: 100%;
      height: 0;
    }
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    .content {
      padding: 100px 24px 0 25px;
      > h2 {
        font-size: 25px;
        line-height: 30px;
      }
    }
  }
}
