@import '../../../../../styles/variables';
@import '../../../../../styles/mixins';

.wrapper {
  @include centeredHorizontal;
  @include maxWidth1920;

  .header {
    display: grid;
    grid-template-columns: 1fr 40px;
    column-gap: 10px;
    padding: 50px 0;
    cursor: pointer;
    z-index: 2;

    > h1 {
      font-size: 25px;
      line-height: 30px;
      text-transform: uppercase;
      color: $black-3;
    }

    &.opening {
      > button {
        > *:last-child {
          transform: rotate(0deg);
        }
      }
    }

    button {
      position: relative;
      cursor: pointer;
      border: none;
      width: 40px;
      height: 40px;
      background: transparent;
      min-width: 40px;
      min-height: 40px;
      max-width: 40px;
      max-height: 40px;

      > *:first-child {
        position: absolute;
        border-top: 1px solid $black-3;
        width: 100%;
        height: 0;
      }

      > *:last-child {
        position: absolute;
        border-top: 1px solid $black-3;
        width: 100%;
        height: 0;
        transform: rotate(90deg);
        transition: transform 200ms;
      }
    }

    &:hover {
      > h1 {
        color: $black-2;
      }

      > button {
        > * {
          border-top: 1px solid $black-2;
        }
      }
    }
  }

  .horizontalLine {
    border-bottom: 1px solid $gray-2;
    width: 100%;
    height: 0;
  }

  > ul {
    overflow: hidden;
    height: 0;
    transition: height 250ms;
    padding: 0;

    > li {
      list-style-type: none;
      font-size: 20px;
      line-height: 25px;
      color: $black-3;
      margin: 30px 0;
    }
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    .header {
      grid-template-columns: 1fr 30px;

      > h1 {
        font-size: 20px;
        line-height: 24px;
      }

      > button {
        min-width: 30px;
        min-height: 30px;
        max-width: 30px;
        max-height: 30px;
      }
    }
  }
}
