@import 'variables';

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background: $background;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  font-family: 'Montserrat', sans-serif;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
p{
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: 'Montserrat', sans-serif;
}
ul {
  font-weight: normal;
  font-family: 'Montserrat', sans-serif;
}

.toastWithBorder {
  border-radius: 20px !important;
}
