$blue-1: #1a2878;
$blue-2: #4460f1;
$blue-3: #e9eff6;
$blue-4: #00ffff;
$blue-5: #9eacf1;
$blue-6: #EDF1FF;
$black-1: #000001;
$black-2: #040505;
$black-3: #4c4d52;
$black-4: #1a1c1e;
$black-5: #30405A;
$black-6: #333333;
$gray-1: #8a96af;
$gray-2: #c6cfe0;
$gray-3: #4d5156;
$gray-4: #bdc6f4;
$gray-5: #8B8E99;
$gray-7: #759BE9;
$gradient-1: linear-gradient(199.88deg, rgba(124, 70, 180, 0.97) -32.33%, rgba(54, 77, 198, 0.97) 131.24%);
$gradient-2: linear-gradient(89.94deg, #cfdbf5 0.05%, #9ba9f0 20.34%, #e6e9ff 47.83%, #d9bbf7 76.94%, #eddefb 98.7%);
$gradient-3: linear-gradient(77.64deg, #4E4BE7 1.77%, #1F5EC4 64.16%), #0062FF;
$background: #f5f5f5;
$red-1: #ea8685;
$pink-1: #e754ff;
$pink-2: #9753dd;
$white-1: #FFFFFF;
$green-1: #26D696;


$mobileMd: 300px;
$mobileLg: 425px;
$tablet: 912px;
$desktopS: 1023px;
$desktopMd: 1366px;
$desktopLg: 1920px;

$desktopMaxWidth: 1398px;

@mixin minWidth($minWidth){
  @media screen and (min-width: $minWidth) {
    @content
  }
}

@mixin maxWidth($maxWidth){
  @media screen and (max-width: $maxWidth) {
    @content
  }
}

@mixin betweenWidth($minWidth, $maxWidth){
  @media screen and (min-width: $minWidth) and (max-width: $maxWidth){
    @content
  }
}
