@import "styles/variables";

.contacts{
  margin-top: 90px;
  padding: 0 25px;
  position: relative;
  .hl1{
    position: absolute;
  }
  .hl2{
    position: absolute;
  }
  .hl3{
    position: absolute;
  }
  h1{
    margin-top: 40px;
    font-weight: 700;
    font-size: 35px;
    line-height: 43px;
  }
  .items{
    margin-top: 50px;
    display: flex;
    white-space: pre-line
  }
}

.map{
  height: 600px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1920px;
}

@include betweenWidth($mobileMd, $tablet){
  .contacts{
    h1{
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
    }
    .hl1{
      box-shadow: 0 0 100px 100px #E754FF!important;
      height: 63px!important;
      width: 63px!important;
      left: 200px;
      top: -100px;
    }
    .hl2{
      box-shadow: 0 0 100px 100px #00FFFF!important;
      height: 100px!important;
      width: 100px!important;
      left: 200px;
    }
    .hl3{
      box-shadow: 0 0 100px 100px #9753DD!important;
      height: 100px!important;
      width: 100px!important;
      left: 200px;
      top: 400px;
    }
  }
  .items{
    flex-direction: column;
    gap: 40px;
  }
}

@include minWidth($desktopS){
  .contacts{
    margin: 90px auto 0 auto;
    max-width: $desktopMaxWidth;
    .hl1{
      height: 175px!important;
      width: 175px!important;
      left: 500px;
      top: 100px;
    }
    .hl2{
      height: 175px!important;
      width: 175px!important;
      left: 300px;
      top: 200px;
    }
    .hl3{
      height: 175px!important;
      width: 175px!important;
      left: 1300px;
      top: 300px;
    }
  }
  .items{
    gap: 147px;
  }
}

