@import 'styles/variables';

@keyframes entryAnimation {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes endingAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.animationStart {
  animation: entryAnimation 0.3s ease-in-out;
  opacity: 0;
}

.animationEnd {
  opacity: 1;
  animation: endingAnimation 0.3s ease-in-out;
}

.slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  .title {
      margin: 10px 0 0;


    p {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 21px;
      width: 160px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .imgDesktop {
    display: none;
    @include minWidth($desktopS) {
      position: relative;
      display: flex;
      margin: 20px 0;
    }
  }

  .imgMobile {
    display: none;

    .fullScreenlogo {
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
    }
    @include maxWidth($desktopS) {
      position: relative;
      display: flex;
      margin: 20px 0;
    }
  }
}

  .sliderMobile {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    align-items: center;
    justify-content: space-between;

    .slideText {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 280px;
    }

    .arrow1 {
      margin-right: 8px;
      cursor: pointer;
    }

    .arrow2 {
      margin-left: 8px;
      cursor: pointer;
    }

    .stepper {
      position: absolute;
      top: 320px;

      .step {
        height: 5px;
        width: 5px;
        margin-right: 5px;
        border-radius: 100%;
        cursor: pointer;
        border: none;
        background-color: #6192FF;
        transition: 0.2s ease-in-out;

        &.active {
          background-color: white;
        }
      }
    }
  }


