@import '../../../styles/variables';

.wrapper{
  position: relative;
  padding: 0 25px;
  .hl1{
    position: absolute;
  }
  .hl2{
    position: absolute;
  }
}

.mainInfo{
  margin: 40px auto;
  .jurisdiction{
    h2{
      font-weight: 500;
      font-size: 25px;
      line-height: 30px;
      margin-bottom: -40px;
    }
    .item{
      h3{
        font-weight: 500;
        font-size: 17px;
        line-height: 21px;
        margin-top: 40px;
      }
      p{
        margin-top: 20px;
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        color: $gray-1;
      }
    }
  }
  .info{
    h1{
      font-weight: 700;
    }
    .infoText{
      font-size: 15px;
      font-weight: 400;
      line-height: 18px;
    }
  }
  .ceo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    h3{
      font-size: 16px;
      line-height: 20px;
      margin-top: 20px;
      font-weight: 500;
    }
    p{
      margin-top: 10px;
      font-size: 14px;
      line-height: 17px;
      color: $gray-1;
    }
  }
}


@include betweenWidth($mobileMd, $tablet){
  .wrapper{
    margin-top: 50px;
    padding: 0 25px;
    .hl1{
      left: 300px;
      top: 100px;
      box-shadow: 0 0 100px 100px #E754FF!important;
    }
    .hl2{
      left: 200px;
      top: 200px;
      box-shadow: 0 0 100px 100px #00FFFF!important;
    }
  }
  .mainInfo{
    margin-top: 40px;

    .info{
      h1{
        font-size: 16px;
        line-height: 20px;
      }
      .infoText{
        p{
          margin-top: 30px;
        }
      }
      .jurisdiction{
        display: none;
      }
    }

    .ceo{
      margin-top: 40px;
    }

    .jurisdiction {
      margin-top: 54px;
    }
  }
}

@include minWidth($desktopS){
  .wrapper {
    max-width: $desktopMaxWidth;
    margin: 82px auto 0 auto;
    .hl1{
      left: 400px;
      top: 100px;
      width: 100px;
      height: 100px;
    }
    .hl2{
      left: 200px;
      top: 400px;
      width: 100px;
      height: 100px;
    }
    .mainInfo {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 117px;

      .info {
        min-width: 707px;
        max-width: 770px;

        h1 {
          font-size: 35px;
          line-height: 43px;
        }

        .infoText {
          p {
            margin-top: 40px;
          }
        }

        .jurisdiction {
          margin-top: 130px;

          .items {
            margin-top: 60px;
            display: grid;
            gap: 20px;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;

            .item {
              p {
                max-width: 360px;
              }
            }
          }
        }
      }

      .jurisdiction.mob {
        display: none;
      }
    }
  }

  .ceo{
    p{
      max-width: 330px;
    }
  }
}
