@import "../../styles/variables";


.wrapper{
  margin-top: 50px;
}
.companyInfo{
  margin-top: 40px;
  .title{
    h1{
      font-weight: 700;
    }
  }
}

@include betweenWidth($mobileMd, $tablet){
  .companyInfo{
    .title{
      h1{
        font-size: 16px;
        line-height: 20px;
      }
      a{
        display: none;
      }
    }

    .content{
      margin-top: 30px;
    }

    .contacts{
      display: flex;
      flex-direction: column;
      gap: 40px;
    }
  }
}

@include minWidth($desktopS){
  .companyInfo{
    margin: 40px auto;
    .title{
      display: flex;
      align-items: center;
      gap: 30px;
      a{
        display: flex;
      }
    }
    .contacts{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}
