@import "styles/variables";

.vacancyItem{
  overflow: hidden;
  .header{
    padding: 15px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    .openIcon {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      border: none;
      background: transparent;

      .horizontalLine {
        background-color: $black-3;
        width: 20px;
        height: 1px;
      }

      .verticalLine {
        background-color: $black-3;
        height: 20px;
        width: 1px;
        position: absolute;
        left: 10px;
        transition: ease-in-out 0.2s;
      }
    }

    .openIcon.opened{
      .verticalLine{
        transform: rotate(-90deg);
      }
    }

    .publicationDate{
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: $gray-1;
    }
    .title{
      margin-top: 5px;
      h3{
        font-weight: 400;
        font-size: 15px;
      }
      .companyName{
        color: $blue-2;
        font-weight: 400;
        font-size: 15px;
      }
      }
    .title.active{
      h3{
        font-weight: 700;
      }
    }
    }

  .content{
    border-top: 1px solid $gray-2;
    transition: ease-in-out 0.2s;
    .divider{
      height: 1px;
      width: 100%;
      background-color: $gray-2;
    }
    .description{
      p{
        margin-top: 30px;
        margin-bottom: 20px;
        strong{
          font-weight: 500;
        }
      }
      ul{
        margin-top: 10px;
        margin-left: 0;
        list-style-type: '- ';
        padding-left: 13px;
        font-size: 15px;
        li{
          margin: 10px 0;
        }
        li::marker{
          content: '- ';
        }
      }
    }
    .contacts{
      margin-top: 48px;
      margin-bottom: 25px;
      display: flex;
      font-weight: 400;
      font-size: 15px;
      a{
        color: $blue-2;
      }
      .or{
        color: $gray-1;
      }
    }
  }
}

@include betweenWidth($mobileMd, $tablet){
  .header{
    .title{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 5px;
    }
  }
  .contacts{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .or{
      margin: 0;
    }
  }
}

@include minWidth($desktopS){
  .header{
    .title{
      display: flex;
      gap: 10px;
      align-items: center;
    }
  }
  .contacts{
    .or{
      margin: 0 20px;
    }
  }
}

